
h1 {
  color: blue;
  font-size: 175%;
}
h2 {
  color: blue;
  font-size: 175%;
}
h3{
  color: blue;
  font-size: 175%;
}
h4 {
  color: blue;
  font-size: 175%;
}
h5 {
  color: blue;
  font-size: 175%;
}
h6 {
  color: blue;
  font-size: 175%;
}
